//Criando vairaveis no SASS:

$bgColor: #ff0000;
$txtColor: #fff;
$displayView: block;
$bordaArredondada:5px;

//Criando um agrupando de estilos, chamamos de MIXING:
@mixin estiloPadraoForm($tamanhoFonte, $estiloFonte, $corFonte){
    
    form{
        font-family: $familiaFonte;
        font-size: $tamanhoFonte;
        color: $corFonte;

        label{
            display: $displayView;
            letter-spacing: 2px;
        }

        input{
            display: $displayView;
            border-radius: $bordaArredondada;

        }
    }
}
